@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  background: #000;
  color: white;
}

.formButton {
  color: whitesmoke;
  height: 40px;
}

.signupCell {
  padding: 0.5rem 1rem;
  width: 10rem;
  border-right-width: 2px;
}